/* --- HTML Elements ---*/

    /* --- Horizontal Rules --- */
        hr {
            border: dotted #fff4d7 6px !important;
            border-bottom: none !important;
            width: 40%;
        }

/* --- Navbar --- */
nav {
    transition: top 0.3s ease-in-out;
}

.navbar {
    background-color:#fffde8; 
}

.navbar-brand {
    margin-left: 5rem;
}

.navbar-toggler {
    margin-right: 5rem;
}

.navbar-logo {
    border-radius: 50%;
    width: 75px;
    padding: 18px 0;
}

.navbar-collapse {
    padding: 0 5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    color: #f09c67 !important;
    font-size: 24px;
    font-weight: 550;
    text-align: center;
}

.nav-up {
    top: -137px !important;
}

/* --- Sections --- */

.white-section {
    background-color: #fff;
}

/* --- Title section --- */

#title {
    background-color:#fffde8;
}

#title .row {
    margin: 0 !important;
}

.title-text{
    font-size: 45px;
    position: relative;
    text-align: center;
    color: #f09c67;
    margin-top: 190px;
    font-family: 'Gloria Hallelujah', cursive;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 992px) {
    .title-text {
      font-size: 28px;
    }
}

.secondary-text{
    max-width: 100%;
    height: auto;
    margin-top: 0;
    font-size: 28px;
    font-family: 'Swanky and Moo Moo', cursive;

}

.background-image{
    margin: 0 auto;
    max-width: 55%;
    max-height:55%;
}

/* --- About section --- */

#about {
    padding: auto 70px;
    text-align: center;
}

.about-title {
    font-size: 3.5em;
    font-family: 'Swanky and Moo Moo', cursive;
    padding-top: 20px;
    color: #f09c67;
}

.about-picture{
    border-radius: 50%;
    width: 120px;
    margin-top: 55px;
}

.about-myself {
    padding: 0 200px 15px !important;
    font-family: 'Montserrat';
}

.my-hobbies{
    padding: 15px 200px 30px !important;  
    font-family: 'Montserrat'; 
}

@media screen and (max-width: 992px) {
    .my-hobbies {
        padding: 15px 40px 15px !important;  
    }
    .about-myself {
        padding: 15px 40px 15px !important;  
    }
}
