/* --- HTML Elements ---*/

    /* --- Horizontal Rules --- */
    hr {
        border: dotted #fff4d7 6px !important;
        border-bottom: none !important;
        width: 40%;
    }

    /* --- Headings --- */
    h3 {
        font-size: 3rem !important;
        font-family: 'Swanky and Moo Moo', cursive;
        color: #f09c67;
    }

/* --- Navbar --- */
nav {
    transition: top 0.3s ease-in-out;
}

.navbar {
    background-color:#fffde8; 
}

.navbar-brand {
    margin-left: 20%;
}

@media screen and (max-width: 992px) {
    .navbar-brand {
      margin-left: 2rem;
    }
}

.navbar-logo {
    border-radius: 50%;
    width: 75px;
    padding: 18px 0;
}

.navbar-collapse {
    padding: 0 5rem;
}


.nav-item {
    padding: 0 18px;
}

.nav-link {
    color: #f09c67 !important;
    font-size: 18px;
    /* font-weight: 600; */
    text-align: center;
    font-family: "Montserrat";
}

.bat-1 {
    margin-top: 150px;
    max-width: 35%;
}

.bat-2 {
    margin-top: 260px;
    max-width: 25%;
}

.nav-link:hover {
    color: #4c8492 !important;
}

.nav-up {
    top: -137px !important;
}

/* --- Sections --- */

.white-section {
    background-color: #fff;
    text-align: center;
}
.colored-section {
    background-color: #fffde8;
    text-align: center;
}

.overview {
    padding: 0 200px 15px !important;
    font-family: 'Montserrat';
}

@media screen and (max-width: 992px) {
    .overview {
        padding: 0 0 15px !important;
    }
}

.row {
    color: #4c8492;
}

/* --- Title section --- */

#title {
    background-color:#fffde8;
}

#title .row {
    margin: 0 !important;
}

.title-text{
    font-size: 45px;
    position: relative;
    text-align: center;
    color: #f09c67;
    margin-top: 190px;
    font-family: 'Gloria Hallelujah', cursive;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 992px) {
    .title-text {
      font-size: 28px;
    }
}

.secondary-text{
    max-width: 100%;
    height: auto;
    margin-top: 0;
    font-size: 20px;
    font-family: "Montserrat";

}

.background-image{
    margin: 0 auto;
    max-width: 62%;
    max-height:62%;
}

/* --- About section --- */

#about {
    padding: 25px 70px; 
}

#about h3{
    padding-top: 25px;
}   

.about-picture{
    border-radius: 50%;
    width: 120px;
    margin-top: 55px;
}

.my-hobbies{
    padding: 15px 200px 30px !important;  
    font-family: 'Montserrat'; 
}

@media screen and (max-width: 992px) {
    .my-hobbies {
        padding: 15px 40px 15px !important;  
    }
    .about-myself {
        padding: 15px 40px 15px !important;  
    }
}

/* --- What I am good at ---*/

#wiaga {
    padding: 75px 100px 25px 100px;
}

#wiaga h3 {
    padding-bottom:25px; 
}

#wiaga .overview {
    margin-bottom: 30px;
}

.skills-column {
    padding: 3% 2%;
}

.message-me {
    font-family: 'Montserrat';
    color: #4c8492;
}

/* --- Contact ---*/

#contact {
    padding: 75px 100px 0;
}

#contact .container-fluid {
    padding: 2rem 5rem;
}

.contact-image{
    max-width: 100%;
}

.contact-text {
    font-family: 'Montserrat';
    padding: 0 100px 25px !important;
}

@media screen and (max-width: 992px) {
    .contact-text {
        padding: 0 0 25px !important;
    }
}
/* --- Footer --- */

#footer {
    padding: 1.5rem;
    font-family: 'Montserrat';
    color: #f09c67;
}


/* ------------------------------------- About page ------------------------------------- */

#story {
    padding-bottom: 3rem;
}

/* Where To Find Me */
#wtfm {
    padding: 3rem 0;
} 



@media screen and (max-width: 992px) {
    .story-category {
        padding: 0 3rem 3rem;
    }
}